<a href="https://colab.research.google.com/github/AmmarSahyoun/Colab_Coursera/blob/master/ZIP.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## ZIP returns zip object contains all objects considering the lowest length object

In [22]:
l1 = [1,2,4,5]
l2 = ['a','b']
ul = zip(l1, l2)
ul

In [23]:
for i in ul:
  print(i)

(1, 'a')
(2, 'b')

In [24]:
l2 = l2+['Ammar']
l2

['a', 'b', 'Ammar']

In [26]:
ul = zip(l1,l2)
for i in ul:
  print(i)

(1, 'a')
(2, 'b')
(4, 'Ammar')

In [27]:
tuple1 =("man", "woman", "girl", "boy")
dict1 = {'name': 'Elderes', 'age': 45, 'country': 'Sweden'}

In [33]:
for e, r, t, d in zip(l1,l2, tuple1, dict1):
  print('list1 : ', e)
  print('list2 : ', r)
  print('tuple : ', t)
  print('dict_key : ', d, 'value : ',dict1[d])

list1 :  1
list2 :  a
tuple :  man
dict_key :  name value :  Elderes
list1 :  2
list2 :  b
tuple :  woman
dict_key :  age value :  45
list1 :  4
list2 :  Ammar
tuple :  girl
dict_key :  country value :  Sweden